<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Details Page</title>
</head>
<body style="color:white">

<h2 th:text ="${name}"></h2>
<p th:text ="'Birth Year: ' +${birthYear}"></p>
<p th:text ="'Gender: ' +${gender}"></p>
<p th:text ="'Planet: '+ ${planet}"></p>

</body>
<style type="text/css">
    body{
        background-image: url("/images/stars.jpg");
        height: 100%;
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
    }


</style>
</html>