<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>

</head>
<body style="color:white">
<h2 th:text="${title}" ></h2>
<p th:text="${opening}" ></p>
<div th:each="character: ${characters}">
<a th:href="@{'/details/' + ${character.getName()}}">
<p th:text="${character.getName()}"></p>

</a>
</div>
</body>
<style type="text/css">
    body{
        background-image: url("/images/background.jpg");
        height: 100%;
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
    }

</style>
</html>